# Spark DataFrame Exercise

Given a stock market dataset come up with short analysis. Answer basic questions below.

#### Use the following file as a input:

`data/appl_stock.csv`

#### Start a simple Spark Session

#### Load the Apple Stock CSV File, make sure you infer the data types.

In [3]:
spark.read.csv?

In [4]:
df = spark.read.csv('../data/appl_stock.csv', inferSchema=True, header=True)
df.show(3)

+-------------------+----------+----------+------------------+----------+---------+------------------+
|               Date|      Open|      High|               Low|     Close|   Volume|         Adj Close|
+-------------------+----------+----------+------------------+----------+---------+------------------+
|2010-01-04 00:00:00|213.429998|214.499996|212.38000099999996|214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|214.599998|215.589994|        213.249994|214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|214.379993|    215.23|        210.750004|210.969995|138040000|27.333178000000004|
+-------------------+----------+----------+------------------+----------+---------+------------------+
only showing top 3 rows

#### What are the column names?

In [5]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [6]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 rows.

In [7]:
df.take(5)

[Row(Date=datetime.datetime(2010, 1, 4, 0, 0), Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039),
 Row(Date=datetime.datetime(2010, 1, 5, 0, 0), Open=214.599998, High=215.589994, Low=213.249994, Close=214.379993, Volume=150476200, Adj Close=27.774976000000002),
 Row(Date=datetime.datetime(2010, 1, 6, 0, 0), Open=214.379993, High=215.23, Low=210.750004, Close=210.969995, Volume=138040000, Adj Close=27.333178000000004),
 Row(Date=datetime.datetime(2010, 1, 7, 0, 0), Open=211.75, High=212.000006, Low=209.050005, Close=210.58, Volume=119282800, Adj Close=27.28265),
 Row(Date=datetime.datetime(2010, 1, 8, 0, 0), Open=210.299994, High=212.000006, Low=209.06000500000002, Close=211.98000499999998, Volume=111902700, Adj Close=27.464034)]

#### Use describe() to learn about the DataFrame.

In [8]:
df.describe().show()

+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|summary|              Open|              High|               Low|            Close|             Volume|         Adj Close|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|  count|              1762|              1762|              1762|             1762|               1762|              1762|
|   mean| 313.0763111589103| 315.9112880164581| 309.8282405079457|312.9270656379113|9.422577587968218E7| 75.00174115607275|
| stddev|185.29946803981522|186.89817686485767|183.38391664371008|185.1471036170943|6.020518776592709E7| 28.57492972179906|
|    min|              90.0|         90.699997|         89.470001|        90.279999|           11475900|         24.881912|
|    max|        702.409988|        705.070023|        699.569977|       702.100021|          470249500|127.96609099999999|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+

## Bonus Question!

There are too many decimal places for `mean` and `stddev` in the `describe()` dataframe.
Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that `.describe()` returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

In [9]:
df.describe().printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [10]:
desc = df.describe()

In [11]:
desc.show()

+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|summary|              Open|              High|               Low|            Close|             Volume|         Adj Close|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|  count|              1762|              1762|              1762|             1762|               1762|              1762|
|   mean| 313.0763111589103| 315.9112880164581| 309.8282405079457|312.9270656379113|9.422577587968218E7| 75.00174115607275|
| stddev|185.29946803981522|186.89817686485767|183.38391664371008|185.1471036170943|6.020518776592709E7| 28.57492972179906|
|    min|              90.0|         90.699997|         89.470001|        90.279999|           11475900|         24.881912|
|    max|        702.409988|        705.070023|        699.569977|       702.100021|          470249500|127.96609099999999|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+

In [12]:
from pyspark.sql.functions import format_number

desc.select(desc['summary'], format_number(desc['Open'].cast('float'), 2).alias('Open'), 
            format_number(desc['High'].cast('float'), 2).alias('High'),
            format_number(desc['Low'].cast('float'), 2).alias('Low'), 
            format_number(desc['Close'].cast('float'), 2).alias('Close'),
            format_number(desc['Volume'].cast('float'), 2).alias('Adj Close')).show()

+-------+--------+--------+--------+--------+--------------+
|summary|    Open|    High|     Low|   Close|     Adj Close|
+-------+--------+--------+--------+--------+--------------+
|  count|1,762.00|1,762.00|1,762.00|1,762.00|      1,762.00|
|   mean|  313.08|  315.91|  309.83|  312.93| 94,225,776.00|
| stddev|  185.30|  186.90|  183.38|  185.15| 60,205,188.00|
|    min|   90.00|   90.70|   89.47|   90.28| 11,475,900.00|
|    max|  702.41|  705.07|  699.57|  702.10|470,249,504.00|
+-------+--------+--------+--------+--------+--------------+

#### What day had the Peak High in Price?

In [13]:
df.orderBy(df['High'].desc()).take(1)[0][0]

datetime.datetime(2012, 9, 21, 0, 0)

#### What is the mean of the Close column?

In [15]:
from pyspark.sql.functions import avg
df.select(avg('Close')).show()

+-----------------+
|       avg(Close)|
+-----------------+
|312.9270656379113|
+-----------------+

In [16]:
# another way to do it
from pyspark.sql.functions import mean
df.select(mean('Close')).show()

+-----------------+
|       avg(Close)|
+-----------------+
|312.9270656379113|
+-----------------+

#### What is the max and min of the Volume column?

In [17]:
from pyspark.sql.functions import min, max
df.select(max(df['Volume']), min(df['Volume'])).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|  470249500|   11475900|
+-----------+-----------+

#### What percentage of the time was the High greater than 150 dollars ?
#### In other words, 

> (Number of Days High > 150) / (Total Days in the dataset)

In [18]:
df.filter(df['High'] > 150).select(countDistinct(df['Date'])).collect()[0][0] / df.select(countDistinct(df['Date'])).collect()[0][0] * 100

NameError: name 'countDistinct' is not defined

In [19]:
# another simple way to do it
df.filter(df['High'] > 150).count() / df.count() * 100

63.223609534619754

#### What is the max High per year?

In [50]:
from pyspark.sql.functions import year

year_df = df.withColumn('Year', year(df['Date']))
year_df.show(3)

+-------------------+----------+----------+------------------+----------+---------+------------------+----+
|               Date|      Open|      High|               Low|     Close|   Volume|         Adj Close|Year|
+-------------------+----------+----------+------------------+----------+---------+------------------+----+
|2010-01-04 00:00:00|213.429998|214.499996|212.38000099999996|214.009998|123432400|         27.727039|2010|
|2010-01-05 00:00:00|214.599998|215.589994|        213.249994|214.379993|150476200|27.774976000000002|2010|
|2010-01-06 00:00:00|214.379993|    215.23|        210.750004|210.969995|138040000|27.333178000000004|2010|
+-------------------+----------+----------+------------------+----------+---------+------------------+----+
only showing top 3 rows

In [51]:
year_df.groupBy('Year').max().select(['Year', 'max(High)']).show()

+----+------------------+
|Year|         max(High)|
+----+------------------+
|2015|134.53999299999998|
|2013|        575.139999|
|2014|        651.259979|
|2012|        705.070023|
|2016|        118.690002|
|2010|            326.66|
|2011|426.69999299999995|
+----+------------------+